.user-status
    background-color: white
    border-radius: 2px
    padding-left: 5px
    margin: 0px 0px 5px 0px
    box-shadow: 0px 0px 5px gray
    transition: box-shadow 0.5s
    .name
        font-size: larger
    .username
        font-style: italic
    .status
        font-size: smaller
.user-status:hover
    box-shadow: 0px 0px 10px black
