.HolyGrail
    min-height: 100vh
    overflow: hidden

.HolyGrail-body
    display: flex
    flex: 1
    height: 93vh

.HolyGrail-content
    flex: 1
    height: 100%

.HolyGrail-nav, .HolyGrail-ads
    flex: 0 0 12em
    padding: 10px 10px 10px 15px
    background-color: #dcdcdc
    height: 100%

.HolyGrail-nav
    order: -1
.HolyGrail-content, .HolyGrail-ads, .HolyGrail-nav
    overflow-y: auto
