.HolyGrail
    height: 100%
    display: flex
    flex-direction: column

.HolyGrail-body
    height: 100%
    display: flex
    flex: 1

.HolyGrail-content
    flex: 1
    overflow-y: auto

.HolyGrail-nav, .HolyGrail-ads
    flex: 0 0 13em
    padding: 5px
    background-color: #dcdcdc

.HolyGrail-nav
    order: -1
.HolyGrail-content, .HolyGrail-ads, .HolyGrail-nav
    overflow-y: auto
