.login-panel
    width: 300px
    margin-left: auto
    margin-right: auto
    display: block
    align-content: center
    margin-top: 100px
    input
        width: 100%
        margin-bottom: 10px

.error-form
    margin-top: 15px
