@import "HolyGrail"

.Todos
    border: 1px dashed #f00
.todos-body
    @extend .HolyGrail-body
.todos-content
    @extend .HolyGrail-content
    display: flex

.todos-nav
    @extend .HolyGrail-nav
    position: relative
    .archive-button
        max-width: 158px
        position: absolute
        bottom: 0
.todos-side
    @extend .HolyGrail-ads

.todo-list, .completed-list
    padding: 5px
    width: 50%
    .title
        font-size: x-large
        text-align: center

.todo-list
    .archive-btn
        display: none
    button
        height: 79px

.completed-list
    .todo-btn
        border: 1px solid #4CAF50
        background-color: #4CAF50
        height: 100%
        min-height: 79px
        &:hover
            background-color: #4c964e
            border: 1px solid #4c964e
    .todo-tick
        color: white

.archived-list
    width: 60%
    margin-left: auto
    margin-right: auto
    .title
        font-size: x-large
        width: 60%
        margin-left: auto
        margin-right: auto
    button
        height: 79px

.archive-button, .new-button, .back-btn, .my-todos, .due-soon
    margin-bottom: 5px

.todoc-body
    width: 100%
    .todoc-form
        .btn
            width: 50%
            max-height: 36px
        .input-group
            width: 100%
            .input-group-btn
                width: 100%
            .form-control
                width: 100%
        .title-due, .todo-author
            padding-bottom: 5px
            display: flex
            flex-direction: row
            .title-box
                width: 50%
            .btn-group
                width: 50%
                .word
                    width: 40%
                .picker
                    width: 60%
        .description-box
            padding-bottom: 5px
            .desc-box
                height: 100px
    .author-box, .title-box
        width: 50%

.modal-title
    font-size: large
.todo
    width: 100%
    max-width: 100%
    display: flex
    border: 1px solid rgba(180, 180, 180, 0.8)
    border-radius: 3px
    box-shadow: 0px 0px 5px gainsboro
    padding-left: 6px
    margin-bottom: 5px
    transition: box-shadow 0.3s
    .todo-content
        width: 83%
        height: 100%
        .todo-title
            font-size: large
            overflow-wrap: break-word
            padding-right: 5px
        .todo-desc
            display: flex
            overflow-wrap: break-word
            padding-right: 5px
            .icon
                padding: 5px 5px 5px 0px
                min-width: 17px
        .assignee-due-date
            display: flex
            max-height: 23px
            .todo-due-date
                width: 50%
                text-align: right
                padding-right: 5px
            .todo-assignee
                width: 50%
                color: gray
                .icon
                    padding-right: 5px
    .complete-button
        width: 17%
        height: 100%
        .todo-btn
            box-shadow: none
            height: 79px
.todo:hover
    border: 1px solid #b4b4b4
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.8)
.archived-list
    padding-top: 10px
    width: 60%
    margin-left: auto
    margin-right: auto
    .todo-content
        width: 100%
        height: 100%
        .todo-title
            font-size: large
            overflow-wrap: break-word
            padding-right: 5px
        .todo-desc
            display: flex
            overflow-wrap: break-word
            padding-right: 5px
            .icon
                padding: 5px 5px 5px 0px
                min-width: 17px
        .assignee-due-date
            display: flex
            max-height: 23px
            .todo-due-date
                width: 50%
                text-align: right
                padding-right: 5px
            .todo-assignee
                width: 50%
                color: gray
                .icon
                    padding-right: 5px
    .title
        font-size: x-large
        text-align: center
    button
        min-height: 79px


