@import "HolyGrail"

.Todos
    border: 1px dashed #f00
.todos-body
    @extend .HolyGrail-body
.todos-content
    @extend .HolyGrail-content
    width: 100%
    display: flex
    margin-bottom: 10px

.todos-nav
    @extend .HolyGrail-nav
.todos-side
    @extend .HolyGrail-ads

.todo-list, .completed-list
    padding: 5px
    width: 50%
    .title
        font-size: x-large
        width: 30%
        margin-left: auto
        margin-right: auto

.todo-list
    .archive-btn
        display: none
    button
        height: 79px

.completed-list
    .todo-btn
        border: 1px solid #4CAF50
        background-color: #4CAF50
        height: 44px
        &:hover
            background-color: #660000
            border: 1px solid #660000
    .archive-btn
        height: 35px
    .todo-tick
        color: white
    .btn-block
        margin-top: 0px

.archived-list
    width: 60%
    margin-left: auto
    margin-right: auto
    .title
        font-size: x-large
        width: 60%
        margin-left: auto
        margin-right: auto
    button
        height: 79px



.todoc-body
    width: 100%
    .todoc-form
        .btn
            width: 50%
        .input-group
            width: 100%
            .input-group-btn
                width: 100%
            .form-control
                width: 100%
        .title-due, .todo-author
            padding-bottom: 5px
            display: flex
            flex-direction: row
        .description-box
            padding-bottom: 5px
            .desc-box
                height: 100px


    .author-box, .title-box
        width: 50%
    .desc-box

.modal-title
    font-size: large

.todo
    width: 100%
    max-width: 100%
    display: flex
    border: 2px solid #4CAF50
    border-radius: 6px
    box-shadow: 1px 1px 5px gray
    padding: 0px 0px 0px 6px
    margin-bottom: 5px
    .todo-content
        width: 83%
        height: 100%
        overflow-y: auto
        .todo-title
            font-size: large
            overflow-wrap: break-word
            padding-right: 5px
        .todo-desc
            overflow-wrap: break-word
            padding-right: 5px
            .icon
                padding-right: 5px
        .todo-assignee
            color: gray
            .icon
                padding-right: 5px
    .complete-button
        width: 17%
        height: 100%
        .todo-button
            height: 79px

.btn-drawer
    width: 100%

.archived-list
    width: 60%
    margin-left: auto
    margin-right: auto
    .title
        font-size: x-large
        width: 60%
        margin-left: auto
        margin-right: auto
    button
        height: 79px
