.wiki-view
    .back-button
        margin-right: 3px
        margin-top: 2px
        width: 15%
        float: right
    .delete-button
        float: right
        width: 15%
        margin-top: 2px
        margin-right: 2px
    .edit-button
        float: right
        width: 15%
        margin-top: 2px
        margin-right: 3px
    .wiki-single-item
        padding-top: 10px
        margin-bottom: 10px
        box-shadow: 0px 0px 10px gray
        padding: 10px
        .title
            font-size: x-large
        .info
            font-size: x-small
            text-align: right
        .body
            padding-left: 5px
            padding-right: 5px
    .warning-open
        padding: 25px
    .warning-closed
        display: none
    .del-yes
        float: right
        margin-left: 15px
    .del-no
        float: right
