@import "HolyGrail"

.Wiki
  border: 1px dashed #f00
.wiki-body
    @extend .HolyGrail-body
.wiki-content
    @extend .HolyGrail-content
    padding: 15px
.wiki-nav
    @extend .HolyGrail-nav
.wiki-side
    @extend .HolyGrail-ads

.wiki-list-item
    border: 1px solid grey
    margin-bottom: 10px
    box-shadow: 3px 3px 3px gainsboro
    border-radius: 5px
    padding: 10px
    .title
        font-size: x-large
    .info
        font-size: x-small
        text-align: right
    .body
        padding-left: 5px
        padding-right: 5px
.wiki-list-item:hover
    box-shadow: 7px 7px 3px #B0ACAC
    transition: box-shadow 0.2s
    border-color: darkgray
