.editor-container
    width: 100%
    height: 70%
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 10px
.edit-notice-closed
    display: none
.edit-notice-open
    margin-top: 10px
    .ok
        float: right
.edit-warn-closed
    display: none
.edit-warn-open
    margin-top: 10px
    .no
        float: right
        margin-right: 7px
    .yes
        float: right
.button-drawer
    position: relative
    height: 30%
    clear: both
    margin: 25px 0
.wiki-edit-text, .wiki-edit-preview
    height: 86%
    width: 100%
    padding: 20px
.full-size
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
.buttons
    .save-wiki
        float: right
    .cancel-wiki
        float: right
.editor-buttons
    float: left
    width: 20%
    position: absolute
.titlebox
    height: 50px
    border: thin inset rgb(95, 95, 95)
    resize: none
    font-size: large
    width: 100%
.inputbox
    height: 90%
    border: thin inset rgb(95, 95, 95)
    resize: none
    width: 100%
