.WikiViewer
  border: 1px dashed #f00
.WikiPostListItem
    border: 2px solid grey
    margin-bottom: 10px
    box-shadow: 3px 3px 3px gainsboro
    border-radius: 5px
.WikiPostListItem:hover
    box-shadow: 7px 7px 3px #B0ACAC
    border-color: darkgray

.title
    padding: 10px
.body
    padding: 10px
.PostInfo
    padding: 10px
