.WikiEditor
  border: 1px dashed #f00
.editor-container
    width: 100%
    height: 70%
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 10px
.button-drawer
    height: 30%
.save-wiki
    margin-top: 60px
    float: right
.wiki-edit-text, .wiki-edit-preview
    height: 100%
    width: 50%
    flex
.full-size
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
.inputbox
    @extend .form, .full-size
