.wiki-single-item
    border: 2px solid grey
    margin-bottom: 10px
    box-shadow: 3px 3px 3px gainsboro
    border-radius: 5px
    padding: 10px
    .title
        font-size: x-large
    .info
        font-size: x-small
        text-align: right
    .body
        padding-left: 5px
        padding-right: 5px
.comment-list
    margin-top: 35px
    .comment
        border: solid thin darkgrey
        border-radius: 5px
        padding: 5px
        margin-top: 8px
.post-button
    float: right


